#profiles-view {
  display: block;
  height: 100%;
  flex-direction: column;
}

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.grid-wrapper {
  flex-grow: 1;
  width: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

#editor-layout {
  width: 400px;
  display: flex;
  flex-direction: column;
}

#editor {
  padding: var(--lumo-space-l);
  flex-grow: 1;
}

#button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding: var(--lumo-space-s) var(--lumo-space-l);
}
