#profile-form-view {
    display: block;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 var(--lumo-space-l);
}
#profile-form-view .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
}
